<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>STS Spectrum</title>
        <link rel="stylesheet" href="/static/css/ocean.css" />
        <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
        <style>
            #placeholder {
                width: 450px;
                height: 200px;
            }
        </style>
        <script type="text/javascript">
            var wavelengths = [];
            var spectrum = [];

            function updateWavelengthsArray() {
                $.ajax({
                    url: "/api/acquire_wavelengths",
                    type: "post",
                    datatype: "json",
                    success: function(response) {
                        wavelengths = response
                    }
                });
            };
            function updateSpectrumArray() {
                $.ajax({
                    url: "/api/acquire_spectrum",
                    type: "post",
                    datatype: "json",
                    success: function(response) {
                        spectrum = response
                    }
                });
            };
            function updatePlot() {
                var datum = []
                for (var i=0; i<wavelengths.length; i++) {
                    datum.push([wavelengths[i], spectrum[i]]);
                }
                console.log(datum);
                $.plot(S("#placeholder"), [datum]);
            };

            $(document).ready(function() {
                $("#get-data").on("click", function() {
                    updateWavelengthsArray()
                    updateSpectrumArray()
                    updatePlot()
                });
            });

        </script>
    </head>
    <body>
        <div id="take-spectrum">
            <button id="get-data">Get Spectrum</button>
        </div>
        <div id="placeholder"></div>
    </body>
</html>

