<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>STS Spectrum</title>
        <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
        <style>
            #placeholder {
                width: 600px;
                height: 400px;
            }
        </style>
        <script type="text/javascript">
            specData = {wavelengths:[], spectrum:[]}

            function updateWavelengthsArray() {
                $.ajax({
                    url: "/api/acquire_wavelengths",
                    type: "post",
                    datatype: "json",
                    success: function(response) {
                        specData.wavelengths = response
                    }
                });
            };
            function updateSpectrumArray() {
                $.ajax({
                    url: "/api/acquire_spectrum",
                    type: "post",
                    datatype: "json",
                    success: function(response) {
                        specData.spectrum = response
                    }
                });
            };
            function updatePlot() {
                var datum = []
                for (var i=0; i<specData.wavelengths.length; i++) {
                    datum.push([specData.wavelengths[i], specData.spectrum[i]]);
                }
                console.log(datum);
                $.plot($("#placeholder"), [datum]);
            };

            $(document).ready(function() {
                updatePlot()
                $("#get-data").on("click", function() {
                    updateWavelengthsArray()
                    updateSpectrumArray()
                    updatePlot()
                });
            });

        </script>
    </head>
    <body>
        <div id="take-spectrum">
            <button id="get-data">Get Spectrum</button>
        </div>
        <div id="placeholder"></div>
    </body>
</html>

