<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>STS Spectrum</title>
        <link rel="stylesheet" href="/static/css/ocean.css" />
        <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" language="javascript" src=//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js></script>
        <script type="text/javascript">
            function updateWavelengthArray() {
                $.ajax({
                    url: "/api/acquire_wavelengths",
                    type: "post",
                    datatype: "json",
                    success: function(response) {
                        console.log(response)
                    }
                });
            };

            updateWavelengthArray();

            function updateSpectrumArray() {
                $.ajax({
                    url: "/api/acquire_spectrum",
                    type: "post",
                    datatype: "json",
                    success: function(response) {
                        console.log(response)
                    }
                });
            };

            $(document).ready(function() {
                $("get-data").on("click", function() {
                    updateWavelengthArray()
                    updateSpectrumArray()
                });
            });

        </script>
    </head>
    <body>
        <div id="take-spectrum">
            <button id="get-data">Get Spectrum</button>
        </div>
        <div id="placeholder"></div>
    </body>
</html>

